* {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#app {
    padding: 10px;
    background-color: #f3f0f9;
}

.bg-primary1 {
    background-color: #7b3f98 !important;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.primary1 {
    background-color: #7b3f98
}

.border-info {
    border: 1px solid #7b3f98;

    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.v-btn {
    background-color: #7b3f98;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.v-btn:hover {
    background-color: #5a2d77;
}

.v-radio {
    background-color: #e9d8f3;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 4px;
}

.v-radio:hover {
    background-color: #d6c1e3;
    cursor: pointer;
}

.v-radio-label {
    color: #333;
}

.v-radio .v-input--selection-controls__ripple {
    background-color: #7b3f98;
}